.picture{
    width: 600px;
    height: 600px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
}
.pictureSmall{
    width: 200px;
    height: 200px;
    cursor: pointer;
}
.pictureLarge{
    width: 100%;
    height: 100%;
    cursor: pointer;
}

